@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a place that would like to provide you with top gaming accessories for you Xbox gaming pleasure. We were founded in 2020 during the pandemic and believe now is our time to come to you with excellent service and even better products on hand. We are based all over the US and still looking to expand. We will ship all over North America and are hoping to expand to Europe in the coming years. We come to you with top gaming titles of the year for Xbox, and highly rated controllers. If you're feeling online gameplay with your friends, then try out some of our top rated gaming headsets, emerse yourself in the game and hear EVERYTHING!</p>

<br />

<br />


